body {
    background-image: linear-gradient(to right, #DCEAF2, #879eac);
}

main {
    background-color: white;
    margin: auto;
    border-radius: 5%;
    padding: 20px;
    box-shadow: 10px 10px 10px #677985;
    width: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #A61212;
    text-shadow: 2px 2px 5px #a6121254;
}

h2 {
    color: #F24968;
    text-shadow: 2px 2px 5px #a6121254;
}
h3{
    color:#D984A3;
    margin: 20px;
    text-shadow: 2px 2px 5px #a6121254;
}
p  {
    margin: 20px;
}